* {
    box-sizing: border-box;
  }

  .header, body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.scoreContainer, .startContainer, .questionContainer, .questionContainer2, .initialsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

.startText {
  justify-content: center;
}

.button {
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#initials {
  font-size: 1.5em;
}

.hidden {
  display: none;
}
