* {
  box-sizing: border-box;
  background-color: rgb(21, 20, 71);
  color: aliceblue;
}

/* general header and body styling */
.header,
body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* styles containers */
.scoreContainer,
.startContainer,
.questionContainer,
.questionContainer2,
.initialsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

/* justifies content of startList */
.startList {
  justify-content: center;
}

/* styles the initials input box */
input {
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* styles all buttons */
.button {
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(30, 160, 211);
  border-radius: 30px;
}

/* adds hover effect to buttons */
button:hover {
  background-color: #cb38f0;
  color: #fff;
}

/* styles ul li elements not to have bullets */
ul li {
  list-style: none;

}

/* styles the question text */
.questionText,
.questionText2 {
  font-size: 1.5em;
  margin: 1.5em;
}

/* styles the saved initials */
#initials {
  font-size: 1.5em;
  background-color: aliceblue;
  color: blue;
}

/* class hides content */
.hidden {
  display: none;
}